config/
data/
**/node_modules/
MongoDb/
logs/
backup/
Example/Bank/Applications/ForClients/BankingClientBackend/BankingClientBackend/bin/
Example/Bank/Applications/ForClients/BankingClientBackend/BankingClientBackend/bin/*
Example/Bank/Applications/ForClients/BankingClientBackend/BankingClientBackend/obj/
Example/Bank/Applications/ForClients/BankingClientBackend/BankingClientBackend/bin/
Example/Bank/Applications/ForClients/BankingClientBackend/BankingClientBackend/bin/
Example/Bank/Applications/ForClients/BankingClientBackend/BankingClientBackend/obj/*
Example/Bank/Applications/ForClients/BankingClientBackend/BankingClientBackend.Nunit.Tests/bin/
Example/Bank/Applications/ForClients/BankingClientBackend/BankingClientBackend.Nunit.Tests/obj/
Example/Bank/Applications/ForClients/BankingClientBackend/.idea/
Example/Bank/Applications/ForClients/BankingClientBackend/BankingClientBackend.DataAccess/bin/
Example/Bank/Applications/ForClients/BankingClientBackend/BankingClientBackend.DataAccess/obj/
Example/Bank/Applications/ForClients/BankingClientBackend/BankingClientBackend.Logic/obj/
Example/Bank/Applications/ForClients/BankingClientBackend/BankingClientBackend.Logic/bin/
Example/Bank/Applications/ForClients/BankingClientBackend/BankingClientBackend.DataAccess.Database/obj/
Example/Bank/Applications/ForClients/BankingClientBackend/BankingClientBackend.DataAccess.Database/bin/
Example/Bank/Applications/ForInternals/BankingMicroServices/UserClients.BusinessLogic/obj/
Example/Bank/Applications/ForInternals/BankingMicroServices/UserClients.BusinessLogic/bin/
Example/Bank/Applications/ForInternals/BankingMicroServices/BankingDataAccess/obj/
Example/Bank/Applications/ForInternals/BankingMicroServices/BankingDataAccess/bin/
Example/Bank/Applications/ForInternals/BankingMicroServices/.idea/.
