config/
data/
**/node_modules/
MongoDb/
logs/
backup/
Example/Bank/Applications/ForClients/BankingClientBackend/BankingClientBackend/bin/
Example/Bank/Applications/ForClients/BankingClientBackend/BankingClientBackend/bin/*
Example/Bank/Applications/ForClients/BankingClientBackend/BankingClientBackend/obj/
Example/Bank/Applications/ForClients/BankingClientBackend/BankingClientBackend/bin/
Example/Bank/Applications/ForClients/BankingClientBackend/BankingClientBackend/bin/
Example/Bank/Applications/ForClients/BankingClientBackend/BankingClientBackend/obj/*
Example/Bank/Applications/ForClients/BankingClientBackend/BankingClientBackend.Nunit.Tests/bin/
Example/Bank/Applications/ForClients/BankingClientBackend/BankingClientBackend.Nunit.Tests/obj/
Example/Bank/Applications/ForClients/BankingClientBackend/.idea/
