config/
data/
**/node_modules/
MongoDb/
logs/
backup/
Example/Bank/Applications/ForClients/BankingClientBackend/BankingClientBackend/bin/
Example/Bank/Applications/ForClients/BankingClientBackend/BankingClientBackend/bin/*
Example/Bank/Applications/ForClients/BankingClientBackend/BankingClientBackend/obj/
Example/Bank/Applications/ForClients/BankingClientBackend/BankingClientBackend/bin/
Example/Bank/Applications/ForClients/BankingClientBackend/BankingClientBackend/bin/
Example/Bank/Applications/ForClients/BankingClientBackend/BankingClientBackend/obj/*
Example/Bank/Applications/ForClients/BankingClientBackend/BankingClientBackend.Nunit.Tests/bin/
Example/Bank/Applications/ForClients/BankingClientBackend/BankingClientBackend.Nunit.Tests/obj/
Example/Bank/Applications/ForClients/BankingClientBackend/.idea/
Example/Bank/Applications/ForClients/BankingClientBackend/BankingClientBackend.DataAccess/bin/
Example/Bank/Applications/ForClients/BankingClientBackend/BankingClientBackend.DataAccess/obj/
Example/Bank/Applications/ForClients/BankingClientBackend/BankingClientBackend.Logic/obj/
Example/Bank/Applications/ForClients/BankingClientBackend/BankingClientBackend.Logic/bin/
Example/Bank/Applications/ForClients/BankingClientBackend/BankingClientBackend.DataAccess.Database/obj/
Example/Bank/Applications/ForClients/BankingClientBackend/BankingClientBackend.DataAccess.Database/bin/
Example/Bank/Applications/ForInternals/BankingMicroServices/UserClients.BusinessLogic/obj/
Example/Bank/Applications/ForInternals/BankingMicroServices/UserClients.BusinessLogic/bin/
Example/Bank/Applications/ForInternals/BankingMicroServices/BankingDataAccess/obj/
Example/Bank/Applications/ForInternals/BankingMicroServices/BankingDataAccess/bin/
Example/Bank/Applications/ForInternals/BankingMicroServices/.idea/.
Example/Bank/Applications/ForClients/BankingClientBackend/BankingClientBackend.DataAccess.WebserviceProxy/obj/
Example/Bank/Applications/ForClients/BankingClientBackend/BankingClientBackend.DataAccess.WebserviceProxy/bin/
Example/Bank/Applications/ForInternals/BankingMicroServices/UserClients/bin/
Example/Bank/Applications/ForInternals/BankingMicroServices/UserClients/obj/
Example/Bank/Applications/ForInternals/BankingMicroServices/UserClients.DataAccess/obj/
Example/Bank/Applications/ForInternals/BankingMicroServices/UserClients.DataAccess/bin/
Example/Bank/Applications/ForInternals/BankingMicroServices/UserClients.DataAccess.Database/obj/
Example/Bank/Applications/ForInternals/BankingMicroServices/UserClients.DataAccess.Database/bin/
Example/Bank/Applications/ForInternals/BankingMicroServices/BankingSeeding/obj/
Example/Bank/Applications/ForInternals/BankingMicroServices/BankingSeeding/bin/
*.DS_Store
Example/Bank/Applications/ForInternals/BankingMicroServices/SmallConsoleView/bin/
Example/Bank/Applications/ForInternals/BankingMicroServices/SmallConsoleView/obj/
*/obj/
**/obj/
*/bin/
**/bin/